@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #581c87;
  --main-light: #7e22ce;
  --main-dark: #a252ee;
  --secondary: #fbbf24;
  --secondary-orange: #d97706;
  --secondary-bright-orange: #f59e0b;
  --secondary-orange-dark: #78350f;
  --secondary-light: #fcd34d;
  --blue-text: #0369a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container-p {
    @apply px-4 lg:px-[80px] py-4 lg:py-6;
  }

  .container {
    @apply mx-auto container-p py-4 lg:py-6 max-w-[1920px];
  }
}
